<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<footer id="dk-footer" class="dk-footer" style="position: fixed; bottom: 0;width: 100%; padding: 0px; height: 120px;">
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span>Copyright © 2019, All Right Reserved Seobin</span>
        </div>
        <!-- End Col -->
        <div class="col-md-6">
          <div class="copyright-menu">
            <ul>
              <li>
                <a>Home</a>
              </li>
              <li>
                <a >Terms</a>
              </li>
              <li>
                <a >Privacy Policy</a>
              </li>
              <li>
                <a>Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Copyright Container -->
  </div>
  <!-- End Copyright -->
  <!-- Back to top -->
  <div id="back-to-top" class="back-to-top">
    <button class="btn btn-dark" title="Back to Top" style="display: block;">
      <i class="fa fa-angle-up"></i>
    </button>
  </div>
  <!-- End Back to top -->
</footer>
