<form style="text-align: center; overflow: auto; height: 100%;" novalidate class="needs-validation" #bookingform>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label ">Name</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" aria-describedby="inputGroupPrepend2" id="inputName" placeholder="Name"
        required [(ngModel)]="name" [ngModelOptions]="{standalone: true}" maxlength="30">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)]="email"
        [ngModelOptions]="{standalone: true}" maxlength="50">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputPhone" class="col-sm-2 col-form-label">Phone Number</label>
    <div class="col-sm-2">
      <select class="form-select mb-3" aria-label="Default select example" [(ngModel)]="phonecountry"
        [ngModelOptions]="{standalone: true}">
        <option *ngFor="let cp of countryPhoneCodes" [value]="cp.PhoneCode">{{cp.CountryPhoneCode}}</option>
      </select>
    </div>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="inputPhone" placeholder="Phone number" required
        [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}" maxlength="10">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-2">
      <textarea type="text" class="form-control" id="inputAddress" placeholder="Address" required [(ngModel)]="address"
        [ngModelOptions]="{standalone: true}" maxlength="2000"></textarea>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputPersonStaying" class="col-sm-2 col-form-label">No of Person Staying</label>
    <div class="col-sm-2">
      <input type="number" class="form-control" id="inputPersonStaying" placeholder="No of person staying" required
        [(ngModel)]="noOfPersons" [ngModelOptions]="{standalone: true}" max="99" min="0" (change) ="calculateCost()">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputRoomType" class="col-sm-2 col-form-label">Room Type</label>
    <div class="col-sm-2">
      <select class="form-select mb-3" aria-label="Default select example" [(ngModel)]="roomType"
        [ngModelOptions]="{standalone: true}" (change) ="calculateCost()">
        <option selected value="sbr">Single Bed Room</option>
        <option value="1" value="dbr">Double Bed Room</option>
        <option value="er">Executive Room</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputNights" class="col-sm-2 col-form-label">No of Nights</label>
    <div class="col-sm-2">
      <input type="number" class="form-control" id="inputNights" placeholder="No of Nights" required
        [(ngModel)]="noOfNights" [ngModelOptions]="{standalone: true}" (change) ="calculateCost()">
    </div>
  </div>


  <div class="form-group row">
    <label for="staticRooms" class="col-sm-2 col-form-label">No of Rooms</label>
    <div class="col-sm-2">
      <input type="text" readonly class="form-control-plaintext" id="staticRooms" value="0" [ngModel]="noOfRooms"
        [ngModelOptions]="{standalone: true}">
    </div>
    <label for="staticcost" class="col-sm-2 col-form-label">Total Cost</label>
    <div class="col-sm-2">
      <input type="text" readonly class="form-control-plaintext" id="staticcost" value="0" [ngModel]="cost"
        [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <button class="btn btn-primary" type="submit" style="margin: 25px;" (click)="calculateCost()">Calculate cost</button>
  <button class="btn btn-primary" type="submit" style="margin: 25px;" (click)="submit()">Submit</button>

</form>
